.page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 64px - 20px);

  .container {
    flex: auto;
    background-color: #fff;
  }
}
